/* Header Section */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 56px;
  padding: 0 16px;
}

.left-section {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.left-section button {
  width: 40px;
  height: 40px;
}

.left-section button:hover {
  border: 1px solid #c6c6c6;
  background-color: #f0f0f0;
  border-radius: 50%;
}

.left-section img {
  width: 46%;
  padding-left: 16px;
}

.mid-section {
  display: flex;
  align-items: center;
  margin-left: -9%;
}

.mid-section form {
  display: flex;
  height: 40px;
  width: 628px;
}

.mid-section form input {
  width: 100%;
  border-radius: 40px 0 0 40px;
  padding: 1px 4px 1px 16px;
  font-size: 1.6rem;
  border: 1px solid #d3d3d3;
  border-right: none;
  font-weight: 400;
}

.mid-section button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f8f8f8;
  cursor: pointer;
}

.mid-section button:hover {
  border: 1px solid #c6c6c6;
  background-color: #f0f0f0;
}

.mid-section form button {
  width: 64px;
  border: 1px solid #d3d3d3;
  border-radius: 0 40px 40px 0;
}

.mid-section .mic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border-width: 0;
  margin-left: 10px;
}

.right-section {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.right-section a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #000;
  width: 40px;
  height: 40px;
}

.right-section a:hover {
  border: 1px solid #c6c6c6;
  background-color: #f0f0f0;
  border-radius: 50%;
}

/* Sidebar Section */
.content-area {
  height: calc(100vh - 56px);
  background-color: #f9f9f9;
  column-gap: 20px;
}

.content-area aside {
  background-color: #fff;
  height: 100%;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  width: 265px;
  padding: 12px;
  padding-right: calc(12px - var(--scrollbar-width));
}

.content-area aside:hover {
  scrollbar-color: #717171 transparent;
}

.content-area aside nav {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.nav-link {
  display: flex;
  align-items: center;
  min-height: 40px;
  max-width: calc(100% - 12px);
  border-radius: 10px;
  padding: 0 12px;
  column-gap: 24px;
  text-decoration: none;
  color: #000;
}

.nav-link:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.nav-link span {
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 400;
  color: #030303;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.active {
  background-color: #e5e5e5;
}

.nav-link .active-span {
  font-weight: 600;
}

.separator {
  height: 1px;
  background-color: #e5e5e5;
  border: none;
  margin: 10px 0;
}

.section-two-nav {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  padding: 12px 0;
  margin: 12px 0;
}

.section_three-nav-heading {
  font-size: 1.6rem;
  color: #606060;
  font-weight: 500;
  padding: 6px 12px 4px;
}

.channel-img {
  width: 24px;
  height: auto;
  border-radius: 50%;
}

/* Main Section */
main {
  width: 100%;
  height: 100%;
  padding-top: 32px;
  overflow-y: auto;
}

.videos-container {
  flex-wrap: wrap;
  align-items: flex-start;
  /* justify-content: space-around; */
  gap: 30px 16px;
}

.video {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  flex: 0 1 calc(25% - 12px);
  min-width: 220px;
}

.thumbnail {
  width: 100%;
  aspect-ratio: 16 / 9;
  margin-bottom: 12px;
  border-radius: 8px;
}

.thumbnail img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-details {
  width: 100%;
  display: flex;
  align-items: flex-start;
  column-gap: 12pxpx;
}

.video-details .creator-img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  flex-shrink: 0;
}

.video-meta {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.video-meta a {
  text-decoration: none;
}

.video-meta .video-title {
  color: #333;
  font-size: 1.6rem;
  line-height: 2.2rem;
  font-weight: 500;
  margin-bottom: 4px;
  width: 95%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.duration::before {
  content: "•";
  margin: 0 4px;
}

.creator-channel,
.video-timeline {
  color: #606060;
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.creator-channel {
  margin-bottom: 2px;
}

.creator-channel:hover {
  color: black;
}

.video-details .actions {
  padding: 8px;
  margin-left: 4px;
  align-self: flex-start;
  border-radius: 50%;
  flex-shrink: 0;
}

.video-details .actions i {
  display: block;
}

.video-details .actions:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
